@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slick-slide{
    height:70vh;
}

.slider-container{
    height: 100%;
    width: 100%;
    background-color: white;
}


.slider{
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.a-slide{
    width: 100%;
    border: 2px solid black;
}