/*PROJECT CONTAINERS*/
.project-container{
  height: 125vh;
  box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.15);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.project{
  height: 87vh;
  width: 85%;
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/*PROJECT 1*/
.title-container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.title1{
  font-size: 15em;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  width: 100%;
  padding: 0 20% 0 25%;
  color: white;
}

#title1{
  text-align: right;
  color:white;
}


#proj1{
  background-color: #8242AA;
}

#UI{
  position: absolute;
}

#phone{
  position: absolute;

}


/*PROJECT 2*/
#proj2{
  background-color: #FFA500;
  box-shadow: none;    
}

.title-container2{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.title2{
  font-size: 16em;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  width: 100%;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
}

#title2{
  color:white;
}

#mag{
  width: 40vw;
  position: absolute;
}


/*PROJECT 3*/
#proj3{
  background-color: #157F1F;
  box-shadow: none;    
}

.title-container3{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.title3{
  font-size: 13em;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  width: 100%;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
}

#title3{
  font-size: 16em;
  margin-top: -5%;
}

#cpu{
  width: 35vw;
  position: absolute;
  right: 0;
}


@media only screen and (max-width: 1024px) {   
  #mag{
    width: 60vw;
  }
  .title-container2{
    height: 80vw;
  }

  #cpu{
    width: 55vw;
  }

}

@media only screen and (max-width: 768px) {   
  #mag{
    width: 70vw;
  }
  .title3{
    font-size: 10em;
  }
  
  #title3{
    font-size: 12em;
  }
  #cpu{
    width: 55vw;
  }
}

@media only screen and (max-width: 600px) {   

  .title-container{
    height: 80%;
    width: 100%;
  }

  .title1{
    font-size: 10em;
    padding: 10% 0 0 0;
  }

  #UI{
    width: 135%;
  }

  #phone{
    width: 135%;
  }

  .title-container2{
    height: 105vw;
  }

  .title2{
    font-size: 8em;
  }

  #mag{
    width: 90vw;
  }

  .title3{
    font-size: 5em;
  }
  
  #title3{
    font-size: 6em;
  }
  #cpu{
    width: 60vw;
  }

} 


