  /*UIUX*/

.uiux-container{
    height: 150vh;
    width: 100%;
    box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #8242AA;
    position: sticky;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
    -webkit-box-orient: horizontal;
    
}
  
.uiux{
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 50vh;
}

.title-container{
    width: 80vh;
}

.title{
    font-size: 16em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
}

.r-title-container{
    width: 95vh;
}

.r-title{
    font-size: 16em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-align: right;
}

#phone{
    width: 95vh;
    position: absolute;
}

#gif{
    width: 95.5vh;
    position: absolute;
}

.button-container{
    margin-top: 0vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 50vh;

}

.button{
    border: solid 4px #8242AA;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 207, 207, 0.6);
    padding: 10px 50px;
    transition: .2s ease;

}


.button:hover{
    cursor: pointer;
    border: solid .1px #8242AA;
    transition: .2s ease;
}

.button-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0;
    color: #8242AA;
}


@media only screen and (max-width: 1024px) {
    #phone{
        width: 90vw;
    }
    #gif{
        width: 90.5vw;
    }
    .r-title-container{
        width: 80vw;
    }
    .title-container{
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .button-container{
        margin-top: 35vh;
    }
    #phone{
        width: 99vw;
    }
    #gif{
        width: 99.5vw;
    }
    .r-title-container{
        width: 95vw;
    }
    .title{
        font-size: 10em;
    }
    .title-container{
        width: 100vw;
    }
    .r-title{
        font-size: 10em;
    }
} 

  
  