.project-freestyle{
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 10vh;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
}

.project-freestyle::-webkit-scrollbar { width: 0 !important }


.freestyle-container{
    width: 100%;
}

.freestyle{
    height: 100vh;
    background-color: white;
}

#t2{
    background-color: brown;
}
.exit-container-container{
    display: flex;
    justify-content: center;
}
.exit-container-project{
    position: fixed;
    z-index: 10;
    bottom:0;
    padding-bottom: 6.5vh;

}

.exit-container-project--active{
    position: fixed;
    z-index: 10;
    bottom:-15vh;
    padding-bottom: 6.5vh;
}

