
.vespa{
    height: 100%;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.vespa-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#vespa{
    width: 100%;
}

#vespaM{
    width: 50%;
}