.project{
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 10vh;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    -webkit-overflow-scrolling: touch !important;
}

.project::-webkit-scrollbar { width: 0 !important }


.bigfish{
    height: 100%;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.bigfish-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#fishprint{
    width: 100%;
}