/* Project Mutrition */


.project{
    overflow: auto;
    max-height: 100vh;
    padding-bottom: 10vh;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    -webkit-overflow-scrolling: touch !important;
}

.project::-webkit-scrollbar { width: 0 !important }

.container{
    width: 100%;
    height:100%;
}

.mutrition{
    height: 100%;
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.mu-title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

#mu-title{
    width: auto;
}

#mu-sketch{
    width: 90%;
    border-radius: 10px;
    margin: 0 5%;
    padding-bottom: 10%;
}

#mu-bg{
    background-color: black;
}

.mu-packs{
    width: 100%;
    display: flex;
}

.muPack{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#muPack{
    width: 100%;
}

.mu-cover{
    background-image: url('./mu-cover.png');
    background-size: cover;
    background-position: top;
    height: 80vh;
}

.mu-cover2{
    background-image: url('./mu-pack.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
}


@media only screen and (max-width: 600px) {
    #muPrint{
        width: 90vw;
    }

    #mu-title{
        width: 90vw;
    }
}

@media only screen and (max-width: 320px) {
    #muPrint{
        width: 98vw;
    }
}